#sideNav {
  background: linear-gradient(
      90deg,
      rgba(203, 100, 61, 0.92),
      rgba(203, 100, 61, 0.92)
    ),
    url('./assets//cover.jpg');
  background-size: cover;
  background-position: center center;
}

.card .card-thumbnail {
  width: 100%;
  padding-top: 52.26%;
  background-size: cover;
  background-repeat: none;
  background-position: top center;
}

.cards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: start;
}

.cards .btn-grp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

#skills .progress {
  height: 1.5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, rgba(203, 100, 61, 0.92));
  border-radius: 6px;
}

.btn.btn-custom {
  border: none;
  background: linear-gradient(90deg, #bd5d38, #ff6e36);
}
